/* tag selector */

h1 {
  color: rgb(247, 156, 247); /* text color */
  background-color: rgb(194, 9, 194); /* background color */
  border-width: 5px;
  border-style: solid;
  border-color: aqua;
  border-radius: 5px;
}

/* Width and Height */

/* universal selector */
* {
  background-color: rgb(0, 0, 1);
  color: white;
}

/* div {
  color: rgb(249, 249, 249);
  background-color: rgb(255, 52, 52);
  width: 400px;
  min-width: 300px;
  max-width: 1600px; */
/* height: auto; */
/* min-height: 400px; */
/* max-height: auto; */
/* } */

/* Absolute units -> fixed units */

/* div {
  color: azure;
  background-color: rgb(194, 9, 194);
  width: 400px;
  height: 200px;
} */

/* relative units -> dynamic units */

/* section {
  width: 80vw;
  background-color: aqua;
}

div {
  color: azure;
  background-color: rgb(133, 8, 133);
  width: 90%;
  height: 80vh;
  height: 100vh;
} */

/* p {
  font-size: 2rem;
} */
