* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  flex-wrap: wrap;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 600px) {
  header {
    background-color: blue;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  header {
    background-color: green;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
