* {
  box-sizing: border-box;
}

/* p { */
/* background-color: yellow; */
/* border: 2px solid black; */
/* padding: 2px 100px 50px 20px;
  margin: 55px 50px 100px 10px; */

/* padding-left: 200px; */
/* } */

/* h1 {
  border: 2px solid yellow;
  padding: 100px;
  margin: 55px;
} */

/* div {
  background-color: lightblue;
  border: 50px solid black;
  padding: 20px;
  width: 300px;
  margin: 0 100px;
} */

/* p {
  display: inline;
  background-color: lightgreen;
  border: 2px solid red;
  padding: 10px;
  line-height: 50px;
  /* margin-bottom: 40px; */
/* } */

/* span {
  display: block;
  background-color: lightcoral;
  border: 2px solid blue;
  padding: 10px;
  margin-top: 100px; */
/* line-height: 100px; */
/* } */

/* section {
  background-color: lightgray;
  border: 2px solid purple;
  padding: 10px;
  margin: 20px;
  width: 300px;
  margin: 40px 100px;
} */

/* div {
  background-color: lightblue;
} */

/* h1 {
  background-color: lightgreen;
}

h2 {
  background-color: lightblue;
} */

/* .div01 {
  background-color: lightblue;
}

.div02 {
  background-color: lightgreen;
}

.div03 {
  background-color: lightcoral;
} */

/* .div01 {
  background-color: lightblue;
}

.div01 .inside-div #para {
  color: purple;
} */

/* .text {
  color: blue;
}

#para {
  color: purple;
}

p {
  color: black;
} */

/* .main {
  color: green;
}

p {
  color: blue;
} */

#hello {
  color: black;
  /* background-color: yellow;
  padding: 100px; */
}

.msg.warning.para {
  color: green;
}

.msg {
  color: red;
}

.msg.warning {
  color: blue;
}
