/* * {
  box-sizing: border-box;
} */

/* p {
  background-color: yellow;
  border: 2px solid black; */

/* font-size: 2rem; */
/* padding: 30px;
  margin: 50px; */

/* padding: 2px 100px 50px 10px;
  margin: 55px 10px 90px 200px; */
/* padding: 200px; */
/* } */

/* h1 {
  font-size: 0.5rem;
  border: 2px solid yellow;
  padding: 10px;
} */

/* div {
  background-color: lightblue;
  border: 2px solid black;
  padding: 20px; */
/* width: 300px;
  margin: 0 100px; */
/* } */

/* p { */
/* display: inline;
  background-color: lightgreen;
  border: 2px solid red; */
/* padding: 10px; */
/* margin-bottom: 40px; */
/* } */

/* span {
  display: block;
  background-color: lightcoral;
  border: 2px solid blue; */
/* padding: 10px; */
/* margin-top: 200px; */
/* } */

/* section {
  background-color: lightgray;
  border: 50px solid purple;
  padding: 50px;
  margin: 20px;
  width: 300px;
  margin: 40px 100px;
}

div {
  background-color: lightblue;
  border: 50px solid orange;
  padding: 20px;
  margin: 20px;
  width: 300px;
} */

/* div {
  background-color: lightblue;
} */

/* h1 {
  background-color: lightgreen;
}

h2 {
  background-color: lightblue;
} */

/* .div01 {
  background-color: lightblue;
}

.div02 {
  background-color: lightgreen;
}

.div03 {
  background-color: lightcoral;
} */

/* .div01 {
  background-color: lightblue;
}

.div01 .inside-div #para {
  color: purple;
} */

/* .text {
  color: blue;
}

#para {
  color: purple;
}

p {
  color: black;
} */

/* .main {
  color: green;
}

p {
  color: blue;
} */

/* #hello {
  color: black; */
/* background-color: yellow;
  padding: 100px; */
/* } */

/* .msg.warning.para {
  color: green;
}

.msg {
  color: red;
}

.msg.warning {
  color: blue;
} */
/* 
div {
} */

/* .div01 {
  background-color: lightblue;
  border: 5px solid black;
  padding: 20px;
  margin: 10px 0;
}

.div02 {
  background-color: lightgreen;
  border: 5px solid black;
  padding: 20px;
} */

#div01 {
  background-color: lightblue;
  border: 5px solid black;
  padding: 20px;
  margin: 10px 0;
}

#div01 .para02 {
  color: purple;
}

/* #div02 {
  background-color: lightgreen;
  border: 5px solid black;
  padding: 20px;
} */
